/* Выпадающее меню SharedDropdown */
.v-popper__popper.v-popper--theme-shared-dropdown {
  .v-popper__inner {
    @apply bg-white rounded-lg shadow-dropdown z-10;
  }

  .v-popper__arrow-container {
    @apply hidden;
  }
}
